<script>
  function hideErrorMsg() {
    var errorMsg = document.getElementById("error-message")
    if(errorMsg){
      setTimeout(function(){
        errorMsg.style.display = 'none';
      },4000);
    }
  }
  hideErrorMsg();
</script>
</body>
</html>